<li class="user__bio">
  <div class="joined_on">
    <i class="fas fa-calendar-check"></i>
    joined <%= distance_of_time_in_words_to_now(user.created_at) %>  ago
  </div>
  <div class="user___details">
    <p>
      <span>Education:</span>
      <%= user.bidding_profile&.education ? user.bidding_profile&.education   : "none" %> </p>
    <p>
      <span>Skill level: </span>
      <%= user.bidding_profile&.experience ? user.bidding_profile&.experience : "none" %> </p>
    <p>
      <span>  Category:</span>
      <%= user.bidding_profile&.category ? user.bidding_profile&.category : "none" %>  , <%= user.bidding_profile&.subcategory %> </p>
    <p>
      <span> Bio:</span>
      <%= user.bidding_profile&.bio ? user.bidding_profile&.bio  : "none" %> </p>
  </div>
</li>
