<div class="user__picture-<%= user.role %>">
  <% if user.profile_image.attached?  %>
    <%= image_tag user.profile_image %>
  <% else  %>
    <%= inline_svg_tag 'default_avatar.svg' %>
  <% end  %>
</div>
<%if user_freelancer?(current_user) && authenticate_profile(user)  %>
  <%= link_to 'Edit Profile',edit_bidding_profile_path(current_user.bidding_profile),class:'edit__profile' if bidding_profile_exist?  %>
<% end  %>
<ul class="user__profile">
  <li class="user__name">
    <%= user.name %>
    <div class="category">
      <%= user.bidding_profile&.category %>
      <%= user.role unless user_freelancer?(user) %>
    </div>
    <% if current_user != user %>
      <%= link_to conversations_path(sender_id:current_user&.id,
          recipient_id:user&.id ),class:'message',method: :post,remote: true do %>
        <i class="fad fa-envelope"></i>
      <% end %>
    <% end %>
  </li>
  <li>
    <ul class="details__tab-<%= user.role %>">
      <li class="user__experience-tab" data-tab="0">
        <% if user_client?(user)  %>
          <%= link_to 'projects' , client_experience_path(user),remote: true  %>
        <% else  %>
          <%= link_to 'bids' ,freelancer_experience_path(user) ,remote: true  %>
        <% end  %>
      </li>
      <li class="user__details-tab" data-tab="1"> <%= link_to 'details' , freelancer_details_path(user),remote: true %> </li>
      <% if user_freelancer?(user)  %>
        <li class="about__me-tab" data-tab="2"> <%= link_to 'about' ,  freelancer_about_me_path(user),remote: true %> </li>
      <% end  %>
    </ul>
  </li>
  <li class="welcome">
    <%= inline_svg_tag 'welcome.svg' %>
  </li>
  <li class="user__analytics-<%= user.role %>">
    <div class="total__projects">
      <%if user_freelancer?(user) %>
        <div>  <%= total_projects_done(user) %> </div>
        <span>Projects Awarded </span>
      <%else %>
        <div>  <%= total_projects_posted(user) %> </div>
        <span>Projects Posted </span>
      <% end  %>
    </div>
    <div class="hired">
      <%if user_freelancer?(user) %>
        <div>  <%= total_projects_done(user) %> </div>
        <span>  Hired by clients</span>
      <% else  %>
        <div>  <%= total_projects_awarded(user) %> </div>
        <span>  Hired freelancers</span>
      <% end  %>
    </div>
    <div class="avg-bid">
      <%if user_freelancer?(user) %>
        <div>$<%= average_bid_value(user) %> </div>
        <span> Avg.Bid </span>
      <% else  %>
        <div> <%= count_total_proposals(user) %> </div>
        <span> Total proposals </span>
      <% end  %>
    </div>
  </li>
</ul>
