<%= javascript_pack_tag 'form', 'data-turbolinks-track': 'reload' %>
<section class= "sign__up-page" >
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <section class= "sign__up-form">
      <h1>Complete your account setup</h1>
      <!-- Name field -->
      <div class="name__field">
        <i class="fad fa-user"></i>
        <%= f.text_field :name,placeholder: 'Name' %>
        <%unless resource.errors[:name].empty?%>
          <%=  "name #{resource.errors[:name][0]} "%>
        <%end%>
      </div>
      <!-- Email field -->
      <div class="email__field">
        <i class="fad fa-at"></i>
        <%= f.email_field :email, autocomplete: "email",placeholder: 'Email'  %>
        <%unless resource.errors[:email].empty?%>
          <%=  "email #{resource.errors[:email][0]} "%>
        <%end%>
      </div>
      <!-- Password field -->
      <div class="password__field">
        <i class="fad fa-lock"></i>
        <%= f.password_field :password, autocomplete: "new-password",placeholder: 'Create a password'  %>
        <%unless resource.errors[:password].empty?%>
          <%=  "password #{resource.errors[:password][0]} "%>
        <%end%>
      </div>
      <div class="password__confirmation-field">
        <i class="fad fa-lock"></i>
        <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: 'Confirm password' %>
        <%unless resource.errors[:password_confirmation].empty?%>
          <%=  "#{resource.errors[:password_confirmation][0]} "%>
        <%end%>
      </div>
      <!-- Role field -->
      <div class="role__field">
        <p> <%= f.label :role,'Choose Your role:' %></p>
        <div class="f__btn">
          <%= f.radio_button :role ,"freelancer"%>
          Freelancer
        </div>
        <div  class="c__btn">
          <%=f.radio_button  :role, "client" %>
          Client
        </div>
        <%unless resource.errors[:role].empty?%>
          <%= "role #{resource.errors[:role][0]} "%>
        <%end%>
      </div>
      <!-- Image field -->
      <div class="image__field">
        <%= f.label :profile_image,'Add a Photo' %>
        <br/>
        <div class="file__field">
          <i class="fal fa-user-circle"></i>
          <%= f.file_field :profile_image %>
        </div>
      </div>
      <!-- submit-->
      <%= f.submit "Sign up",class:'btn' %>
    </section>
  <% end %>
</section>
