<h1>Inbox</h1>
<div>
  <% @conversations.each do |conversation| %>
    <% recipient = conversation.sender_id == current_user.id ? conversation.recipient : conversation.sender %>
    <div>
      <%=image_tag user_image(current_user.id),style:'width:30px;'%>
      <div>
        <div>
          <%= link_to recipient.name, conversation_messages_path(conversation), style:'font-size:1.2rem' if recipient.try(:name )%>
          <b><% if !conversation.unread_message_count(current_user).zero? %>
              (<%= conversation.unread_message_count(current_user) %>)
            <% end %>
          </b>
        </div>
        <span>
          <%if conversation.messages.last.user_id == current_user.id %>
            <%if conversation.messages.last.read%>
              <i class="fal fa-check-double text-primary"></i>
            <%else%>
              <i class="fal fa-check "></i>
            <%end%>
          <%end%>
          <%= link_to conversation.messages.last.content, conversation_messages_path(conversation), style:'font-size:1rem;font-family:san-serif'%>
        </span>
        <small><%= conversation.messages.last.created_at.strftime("%d/%m/%y at %l:%M %p")%></small>
      </div>
    </div>
  <% end %>
</div>
