<% content_for :title, "#{@bid.proposal}>" %>
<div class="project__modal show">
  <div class="job__post-slider">
    <h2>Edit <%=@bid.freelancer.name%>'s Bid</h2>
    <section class="place__bid bid-<%=@bid.awarded? ? "awarded-disable" : ""%>">
      <%=form_for @bid ,url: admin_bid_path(@bid), method: :patch do|f|%>
        <div class="bid__proposal-field">
          <%=f.text_area :proposal,placeholder:'your proposal'%>
          <%unless @bid.errors[:proposal].empty?%>
            <div class="errors">
              <i class="fas fa-exclamation-circle"></i>
              <%=@bid.errors[:proposal][0]%></div>
          <% end %>
        </div>
        <div class="bid__value-field">
          $ <%=f.number_field :value,placeholder: 'Bidding price'%>
          <%unless @bid.errors[:value].empty?%>
            <div class="errors">
              <i class="fas fa-exclamation-circle"></i>
              <%=@bid.errors[:value][0]%></div>
          <% end %>
        </div>
        <div class="submit__proposal">
          <%=f.submit data: {disable_with: 'Bidding....'  } %>
        </div>
      <%end%>
    </section>
  </div>
</div>
