<ul class="shortlisted__users">
  <% if shortlisted.count.zero?  %>
    <div class="no__data">
      <%= inline_svg_tag 'nodata.svg' %>
      no data
    </div>
  <% else  %>
    <%shortlisted.each do|bid| %>
      <% documents= bid&.documents %>
      <li class="proposal">
        <div class="user__image">
          <% if bid.freelancer.profile_image.attached?  %>
            <%= image_tag bid.freelancer.profile_image %>
          <% else  %>
            <%= inline_svg_tag 'default_avatar.svg' %>
          <% end  %>
          <%= link_to conversations_path(sender_id:bid.project.client.id,
          recipient_id:bid.freelancer.id ),class:'message',method: :post,remote: true do %>
            <i class="fad fa-envelope"></i>
          <% end %>
        </div>
        <ul>
          <li>
            <%= link_to bid.freelancer.name,freelancer_path(bid.freelancer) %>
          </li>
          <li>
            <span>Bid: $ <%= bid.value %> /hr</span>
          </li>
          <li>
            <span>Proposal: </span>
            <p>  <%= bid.proposal %> </p>
          </li>
          <li>
            <span>Attachments</span>
            <% if documents.empty? %>
              <small>  no documents</small>
            <% else %>
              <ol class="documents-attached">
                <%documents.each do |document| %>
                  <%=  link_to rails_blob_path(document, disposition: 'attachment') do %>
                    <li><%= document.filename %></li>
                  <% end  %>
                <% end %>
              </ol>
            <% end %>
          </li>
          <li class="time">
            <%= distance_of_time_in_words_to_now(bid.updated_at) %>
          </li>
        </ul>
        <div class="bid__status">
          <%if  !project_awarded?(bid.project) && !bid.awarded?  %>
            <%=  link_to "award project", award_project_bid_path(bid.project,bid),class: 'award',method: :put  %>
          <%elsif bid.awarded? %>
            <span class="stamp is-<%= bid.status %>"> <%= bid.status %> </span>
          <% else  %>
            <span class="stamp is-<%= bid.status %>"> <%= bid.status %> </span>
          <%end %>
        </div>
      </li >
    <%end %>
  <% end  %>
  <div class="pagination__buttons">
    <%=  link_to_previous_page shortlisted, 'Previous ',class:'prv__btn',remote: true  %>
    <%=  link_to_next_page shortlisted, 'Next ',class:'nxt__btn' ,remote: true %>
  </div>
</ul>
