<li class="notification">
  <div class="user__image"><%=inline_svg_tag 'default_avatar.svg' %></div>
  <ul class="notification__content">
    <li class="bid__result">
      <% if notification.bid.awarded? %>
        Congrats,<%=notification.bid.project.client.name %> awarded you the project,Click to contact.
      <%elsif%>
        <%=" #{notification.bid.project.client.name} #{notification.bid.rejected? ? "rejected your bid,you can check other projects.": "accepted your bid." } " %>
      <%end%>
    </li>
    <div class="time"><%=distance_of_time_in_words_to_now(notification.bid.updated_at)%> ago</div>
  </ul>
  <% if Conversation.between(notification.user.id,notification.bid.project.client.id ).present? && notification.bid.awarded?%>
    <%=link_to '',conversation_messages_path(Conversation.between(notification.user.id,notification.bid.project.client.id).first)%>
  <% else %>
    <%=link_to '',conversations_path(sender_id: notification.user.id,recipient_id: notification.bid.project.client.id),method: :post%>
  <% end %>
</li>
