<ul>
  <% @notifications.try(:each) do |notification| %>
    <%if notification.user.role=="client" %>
      <%= link_to  project_details_path(notification.bid.project) do %>
        <li><%=notification.bid.freelancer.name %> placed a bid on your project</li>
        <%if notification.bid.unapproved?%>
          <%=link_to 'accept', accept_project_bid_path(notification.bid.project,notification.bid) ,method: :put %>
          <%=link_to 'reject',reject_project_bid_path(notification.bid.project,notification.bid) ,method: :put %>
        <%else%>
          <p><%="you #{notification.bid.rejected? ? 'rejected' : 'approved'} the bid"%></p>
        <%end%>
      <%end%>
      <br />
    <%else%>
      <% if notification.bid.accepted? || notification.bid.awarded?%>
        <%if notification.bid.awarded?%>
          <li><%=notification.bid.project.client.name %> awarded you the project</li>
          <% if Conversation.between(notification.user.id,notification.bid.project.client.id ).present?%>
            <%=link_to ' Message',conversation_messages_path(@conversation)%>
          <% else %>
            <%=link_to 'Message',conversations_path(sender_id: notification.user.id,
          recipient_id: notification.bid.project.client.id),method: :post%>
          <% end %>
        <% end %>
        <li><%=notification.bid.project.client.name %> accepted your bid</li>
      <%elsif notification.bid.rejected?%>
        <li><%=notification.bid.project.client.name %> rejected your bid</li>
      <%elsif notification.bid.awarded?%>
      <%else%>
      <%end%>
    <%end%>
  <%end%>
</ul>
