<main class="freelancers__form-page">
  <div class="freelancer__education-form">
    <%=  f.label :education%>
    <%=  f.text_field :education,placeholder: 'Education/Qualification'%>
    <%unless user.errors[:education].empty?%>
      <div class="error">
        <i class="fas fa-exclamation-circle"></i>
        <%= user.errors[:education][0] %> </div>
    <% end %>
  </div>
  <!-- Experience field -->
  <div class="freelancer__experience-form ">
    <%=  f.label :experience,'What is your level of experience in this field? ' %>
    <div class="experience-level">
      <div class="experience__level"> <%=  f.radio_button :experience, 'Entry Level'%>
        <span>Entry Level</span>
        <p> I am relatively new to this field </p>
      </div>
      <div class="experience__level">  <%=  f.radio_button :experience, 'Intermediate'%>
        <span> Intermediate</span>
        <p>I have substantial experience in this field </p>
      </div>
      <div class="experience__level">  <%=  f.radio_button :experience, 'Expert'%>
        <span>Expert</span>
        <p> I have comprehensive and deep expertise in this field </p>
      </div>
    </div>
  </div>
  <div class="close___modal">
    <p>OK</p>
  </div>
</main>
