<div>
  <% if bid.errors[:value].empty? && bid.errors[:freelancer_id].empty? %>
    <%=bid.value%>
    <%=bid.proposal%>
    <%=bid.freelancer.name %>
  <%end%>
  <% unless bid.errors[:value].empty? %>
    <%= bid.errors[:value][0] %>
  <%end%>
  <%unless bid.errors[:freelancer_id].empty?%>
    <%=  "#{bid.errors[:freelancer_id][0]} "%>
  <%end%>
</div>
