<div class="search__freelancers">
  <%= render 'search_freelancers',q: q %>
  <%if freelancers.nil?%>
    <%= render 'empty-search-freelancers' %>
  <% else %>
    <% if freelancers.empty? %>
      <%=render 'no-results'%>
    <% else %>
      <%= render 'search-results-freelancers',freelancers: freelancers %>
    <% end %>
    <div class="pagination__buttons">
      <%= link_to_previous_page freelancers, 'Previous',class: 'prv__btn' %>
      <%= link_to_next_page freelancers, 'Next ' ,class: 'nxt__btn'%>
    </div>
  <% end %>
</div>
