<div class="search__wrapper">
  <%= search_form_for q, url: search_results_path ,id:'search' do |f| %>
    <div class="search_bar">
      <%= f.label :action_text_rich_text_body_or_title_or_experience_or_category_cont,style:'display:none' %>
      <%= f.search_field :action_text_rich_text_body_or_title_or_experience_or_category_cont, placeholder: "search projects by title ,category etc " %>
    </div>
    <%= button_tag class: ' search__btn'   do%>
      <i class="far fa-search"></i>
    <%end%>
    <%= link_to  request.path, class: "reset__btn" do%>
      <i class="fal fa-times"></i>
    <% end %>
  <% end %>
  <div class="search ">
    <%= link_to 'Freelancers',search_freelancers_path,remote: true ,class: "freelancer #{search_type? == "freelancer" ?  "add__background" : ""  } " %>
    <%= link_to ' Projects',search_projects_path,remote: true,class: "project #{search_type? == "project" ?  "add__background" : ""  } " %>
    <% if current_user %>
      <%= link_to 'Client & freelancers',freelancers_and_clients_path,remote: true,class: "all #{search_type? == "all" ?  "add__background" : ""  } " %>
    <% end %>
  </div>
</div>
