<div class="search__filters">
  <div class="search__category">
    <%= f.label :category_eq,'Category' %>
    <%= f.select:category_eq, all_categories, include_blank: 'Choose any' %>
  </div>
  <div class="search__subcateogory">
    <%= f.label :subcategory_eq,'Subcategory' %>
    <%= f.select(:subcategory_eq, [], include_blank: 'Choose any') %>
  </div>
  <div class="search__experience">
    <%= f.label :experience_eq, 'Experience'%>
    <div class="experience__level"><%= f.radio_button :experience_eq, 'Entry Level' %> Entry Level</div>
    <div class="experience__level"> <%= f.radio_button :experience_eq, 'Intermediate' %> Intermediate</div>
    <div class="experience__level"> <%= f.radio_button :experience_eq, 'Expert' %> Expert</div>
  </div>
  <div class="toggle__filter">
    <%= button_tag 'submit',class: ' search__btn'   %>
  </div>
  <div class="close__filter">
    <i class="fal fa-times"></i>
  </div>
</div>
