<% content_for :title, "#{search_query(params[:q])} " %>
<div class="search__users">
  <%= render 'search_users',q: q %>
  <% if users.empty? %>
    <%= render 'no-results'%>
  <% else %>
    <%= render 'search-results-users',users: users %>
  <% end %>
  <div class="pagination__buttons">
    <%= link_to_previous_page users, 'Previous',class: 'prv__btn' %>
    <%= link_to_next_page users, 'Next ' ,class: 'nxt__btn' %>
  </div>
</div>
