<div class="project__category" >
  <div class="search__category">
    <%=  f.label :category,'Category'  %>
    <%=  f.select :category, all_categories, include_blank: 'Choose any'  %>
    <%unless project.errors[:category].empty? %>
      <div class="error">
        <i class="fas fa-exclamation-circle"></i>
        <%= project.errors[:category][0] %> </div>
    <% end  %>
  </div>
  <div class="search__subcateogory">
    <%=  f.label :subcategory,'Subcategory'  %>
    <%=  f.select(:subcategory, [], include_blank: 'Choose any')  %>
  </div>
</div>
