<%projects.each do|project|%>
  <li class="every__project">
    <ul>
      <li class="project__title">
        <%=link_to project.title,project_details_path(project)%>
        <i class="fas fa-chevron-circle-up"></i>
      </li>
      <li class="project__created-at-with-status">
        <div >
          Posted <%=distance_of_time_in_words_to_now(project.created_at)%>
        </div>
        <ul>
          <li>
            <div class="<%=project.bids.count>0 ? "add__color" : ""%>"> <%=project.bids.count%></div>
            <span>proposals</span>
          </li>
          <li>
            <div><%=max_bid(project).nil? ? "0" : max_bid(project) %></div>
            <span>Max. Bid</span>
          </li>
          <li>
            <div><%=avg_bid(project).nil? ? "0" : avg_bid(project) %></div>
            <span>Avg. Bid</span>
          </li>
        </ul>
      </li>
    </ul>
  </li>
<% end %>
