<% content_for :title, "my postings" %>
<main class="client__feed">
  <div class="projects__heading">
    <h3>my postings</h3>
    <%=link_to 'New Project',new_project_path%>
  </div>
  <ul class="projects-posted-by-client">
    <% if @projects.empty? %>
      <%= render 'no-projects' %>
    <% else %>
      <%= render 'my-postings' ,projects: @projects%>
    <% end %>
  </ul>
  <div class="pagination__buttons">
    <%= link_to_previous_page @projects, 'Previous ',class:'prv__btn' %>
    <%= link_to_next_page @projects, 'Next ',class:'nxt__btn' %>
  </div>
</main>
