<main class="user__login">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <section class="login__page">
      <h1>Log in</h1>
      <div class="login__email-field">
        <i class="fad fa-user"></i>
        <%= f.email_field :email, autocomplete: "email",placeholder: 'email address' %>
      </div>
      <div class="login__password-field">
        <i class="fad fa-lock"></i>
        <%= f.password_field :password, autocomplete: "current-password",placeholder: 'password' %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="remember__me-field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me ,'keep me logged in'%>
        </div>
      <% end %>
      <%= f.submit "Log in",class:"login__btn" %>
    </section>
  <% end %>
</main>
