<ul class="user__profile-dropdown">
  <li>
    <div class="user__image"><%=inline_svg_tag 'default_avatar.svg' %></div>
    <p class="user__name"><%=@user.name%>
      <span><%=@user.role%></span>
    </p>
  </li>
  <li>
    <%=inline_svg_tag 'settings.svg',class:'user__setting' %>
    <%=link_to 'Settings',  edit_user_registration_path ,class:'setting__field'%>
  </li>
  <li>
    <i class="fal fa-sign-out-alt"></i>
    <%=link_to 'Logout', destroy_user_session_path, class:'logout__field' ,method: :delete %>
  </li>
</ul>
