<% content_for :title, "Bidding Profiles"  %>
<%= render 'admin/dashboards/sidebar' %>
<div class="main-content">
  <main class="users">
    <h2 class="dash-title"> <i class="fad fa-id-card"></i> Bidding Profiles</h2>
    <section class="recent">
      <div class="activity-card">
        <div class="table-responsive">
          <table>
            <thead>
              <tr>
                <th>id</th>
                <th>freelancer</th>
                <th>category</th>
                <th>subcategory</th>
                <th>experience</th>
                <th>actions</th>
              </tr>
            </thead>
            <tbody>
              <%@bidding_profiles.each do |bidding_profile| %>
                <tr>
                  <td> <%=  bidding_profile.id %> </td>
                  <td> <%=  bidding_profile.freelancer.name %> </td>
                  <td> <%= bidding_profile.category %> </td>
                  <td> <%= bidding_profile.subcategory %> </td>
                  <td> <%= bidding_profile.experience %> </td>
                  <td class="action__buttons">
                    <%= link_to edit_admin_bidding_profile_path(bidding_profile) do %>
                      <i class="fal fa-edit"></i>
                    <% end  %>
                  </td>
                </tr>
              <% end  %>
            </tbody>
          </table>
          <div class="pagination__buttons">
            <%=  link_to_previous_page @bidding_profiles, 'Previous ',class:'prv__btn'  %>
            <%=  link_to_next_page @bidding_profiles, 'Next ',class:'nxt__btn'  %>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
