<main class="freelancers__form-page">
  <div class="freelancer__form-details">
    <h3>Complete your registration</h3>
  </div>
  <%=form_for freelancer_info do|f|%>
    <%=render partial: "education",locals: {f: f,freelancer_info: freelancer_info } %>
    <%=render partial: "category",locals: {f: f,freelancer_info: freelancer_info} %>
    <%=render partial: "bio",locals: {f: f,freelancer_info: freelancer_info} %>
    <%=render partial: "experience",locals: {f: f} %>
    <div class="submit__btn">
      <%=f.submit 'submit', data: { disable_with: "Saving..." }%>
    </div>
  <%end%>
</div>
