<!DOCTYPE html>
<html>
  <head>
    <title>BidMaster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://kit-pro.fontawesome.com/releases/v5.15.1/css/pro.min.css", 'data-turbolinks-track': 'reload, media="print"' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header> <%=link_to root_path do%>
        <%=image_tag "logo.png",class:'logo' %>
      <%end%>
    </header>
    <nav>
      <ul>
        <%if current_user%>
          <li>
            <%=link_to  destroy_user_session_path do%>
              <i class="fad fa-envelope"></i>
            <%end%>
          </li>
          <li>
            <%=link_to  destroy_user_session_path do%>
              <i class="fad fa-bell"></i>
            <%end%>
          </li>
          <li>
            <%=link_to  destroy_user_session_path do%>
              <i class="fad fa-history"></i>
            <%end%>
          </li>
          <li>
            <div class="user__avatar">
              <%=image_tag user_image(current_user.id)%>
              <%=link_to'', dropdown_profile_path,remote: true%>
            </div>
          </li>
        <%else%>
          <li> <%=link_to 'Login',new_user_session_path,class:'btn-primary'%></li>
        <%end%>
      </ul>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= javascript_pack_tag 'login' %>
    <%= javascript_pack_tag 'form' %>
  </body>
</html>
