<!DOCTYPE html>
<html>
  <head>
    <title>
      <% unless yield(:title).blank? %>
        <%= yield(:title) %>
      <% else %>
        Bid Master
      <% end %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://kit-pro.fontawesome.com/releases/v5.15.1/css/pro.min.css", 'data-turbolinks-track': 'reload, media="print"' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'logo.svg' %>
  </head>
  <body>
    <header>
      <%= link_to root_path do%>
        <%= inline_svg_tag "logo.svg",class:'logo'  %>
      <%end %>
    </header>
    <div class="search__bar">
      <%=  search_form_for search_type? == 'freelancer' ? @q : @j, url: search_results_path do |f| %>
        <%=  link_to '',search_choice_path , remote: true,class:'arrow'   %>
        <%if search_type? == 'freelancer' %>
          <%= render partial: 'pages/searchFieldFreelancer', locals: {f: f }  %>
        <% else  %>
          <%= render partial: 'pages/searchFieldProject', locals: {f: f  }  %>
        <% end  %>
        <div class="search-btn">
          <%=  button_tag class: ' btn-primary'   do %>
            <i class="far fa-search"></i>
          <%end %>
        </div>
      <% end  %>
    </div>
    <nav>
      <ul>
        <%if current_user && !current_user&.admin? %>
          <% if user_freelancer?(current_user)  %>
            <li>
              <%= link_to  bid_history_projects_path  do %>
                <i class="fad fa-history"></i>
              <%end %>
            </li>
          <% end  %>
          <%if user_freelancer?(current_user) || user_client?(current_user) %>
            <li class="conversations__dropdown">
              <%= link_to  conversations_path ,remote: true do %>
                <i class="fad fa-envelope"></i>
              <%end %>
              <%if total_unread_messages != 0 %>
                <span class="unread-button__badge ">
                  <%= total_unread_messages  %>
                </span>
              <% end  %>
            </li>
            <li class="notifications__dropdown">
              <%= link_to  notifications_path,remote: true do %>
                <i class="fad fa-bell"></i>
              <%end %>
              <%if total_unread_notifications != 0  %>
                <span class="unread-button__badge ">
                  <%= total_unread_notifications  %>
                </span>
              <% end  %>
            </li>
            <li class="user__avatar">
              <%= link_to dropdown_profile_path,remote: true do %>
                <% if current_user.profile_image.attached?  %>
                  <%= image_tag current_user.profile_image %>
                <% else  %>
                  <%= inline_svg_tag 'default_avatar.svg' %>
                <% end  %>
              <% end  %>
            </li>
          <%end %>
        <% elsif current_user&.admin?  %>
          <li class="conversations__dropdown">
            <%= link_to  conversations_path ,remote: true do %>
              <i class="fad fa-envelope"></i>
            <%end %>
            <%if total_unread_messages != 0 %>
              <span class="unread-button__badge ">
                <%= total_unread_messages  %>
              </span>
            <% end  %>
          </li>
          <li>
            <%= link_to 'Logout',logout_path,class:'btn-primary',method: :delete %>
          </li>
        <%else %>
          <li>
            <% if request.path == login_path  %>
              <%= link_to 'sign up',signup_path,class:'btn-primary' %>
            <% else  %>
              <%= link_to 'Login',login_path,class:'btn-primary' %>
            <% end  %>
          </li>
        <%end %>
      </ul>
    </nav>
    <div >
      <div class="notice">
        <p><%= notice %></p>
      </div>
    </div>
    <div >
      <div class="alert">
        <p><%= alert %></p>
      </div>
    </div >
    <%=  yield  %>
    <% if !current_user&.admin?  %>
      <footer class="footer">
        <ul class="footer__nav">
          <li class="footer__item">
            <%= link_to 'About',root_path,class:'footer__link' %>
          </li>
          <li class="footer__item">
            <%= link_to 'Customer Support',root_path,class:'footer__link' %>
          </li>
          <li class="footer__item">
            <%= link_to 'Terms of Use',root_path,class:'footer__link' %>
          </li>
          <li class="footer__item">
            <%= link_to 'Privacy Policy',root_path,class:'footer__link' %>
          </li>
          <li class="footer__item">
            <%= link_to 'Carrers',root_path,class:'footer__link' %>
          </li>
          <li class="footer__item">
            <%= link_to 'Contact us',root_path,class:'footer__link' %>
          </li>
        </ul>
        <%= inline_svg_tag 'logo.svg',class:"footer__logo"  %>
        <p class="footer__copyright">
          Copyright &copy; 2021 BidMaster .All right reserved. 
        </p>
      </footer>
    <% end %>
  </body>
</html>
